{% extends 'base.html' %}
{% load static %}


{% block content %}

<section id="about" class="about mt-5" >
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="{% static  'images/Popzcorn.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content fst-italic">
          <h3>Welcome to Popzcorn, your go-to movie companion for all things cinematic! </h3>
          <p class="fst-italic">
            
          </p>
          <ul>
            <p class="fst-italic"><i class="bi bi-check-circle"></i>At Popzcorn, we believe that movies are more than just a form of entertainment. They are a journey into new worlds, a reflection of our society, and a way to connect with one another. That's why we created Popzcorn - to provide you with the best possible movie experience, every time.</p>
            <p class="fst-italic"> <i class="bi bi-check-circle"></i> Our platform is designed to make it easy for you to find and watch the latest movies, as well as your all-time favorites. We offer a wide range of genres, from action and adventure to comedy and romance, so there's always something for everyone.</li></p>
            <p class="fst-italic"><i class="bi bi-check-circle"></i>We also know that no movie experience is complete without the perfect snack. That's why we created Popzcorn - our very own delicious, gourmet popcorn. Made from the finest ingredients, Popzcorn is the perfect pairing for your movie experience, whether you're watching at home or at the cinema.</p>
          </ul>
          <p class="fst-italic">
            At Popzcorn, we are dedicated to providing you with the best possible movie experience. From our easy-to-use platform to our delicious gourmet popcorn, we are here to make your movie experience unforgettable. So sit back, relax, and enjoy the show with Popzcorn!
          </p>
         

        </div>
      </div>

    </div>
  </section>


{% endblock content %}